/* HandmadeQuilts.com Stylesheet
   custom colors:
    #EDEDE9
    #D5BDAF
    #F5EBE0
*/

:root {
  --background-color: #EDEDE9;
  --text-color: #000000;
  --color-1: #D5BDAF;
  --color-2: #F5EBE0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

header {
  margin-bottom: 4%;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

img {
  /* clamp function helps display on smaller screens ~ clamp(Min, Preferred, Max) */
  width: clamp(160px, 20%, 400px);
  border: 5px solid var(--color-1);
  padding: 1px;
}

p {
  margin-inline: 8%;
}

span {
  margin: 0 auto;
}

.gray {
  filter: grayscale(80%);
  margin: -1px;
  padding: 1px;
  border: 5px solid var(--color-1);
}

h1 {
  transform: rotate(-3deg);
  background-image: 
  radial-gradient(ellipse 40% 30% at top, var(--color-1) 98%, transparent),
  radial-gradient(ellipse 40% 30% at bottom, var(--color-1) 98%, transparent),
  radial-gradient(ellipse 30% 40% at right, var(--color-1) 98%, transparent),
  radial-gradient(ellipse 30% 40% at left, var(--color-1) 98%, transparent);
  background-size: 1% 16%;
  background-repeat: repeat;
  border: dotted;
}

h5 {
  color: #0A3161;
}

button {
  background-image: 
  radial-gradient(ellipse 40% 30% at top, var(--color-1) 98%, transparent),
  radial-gradient(ellipse 40% 30% at bottom, var(--color-1) 98%, transparent),
  radial-gradient(ellipse 30% 40% at right, var(--color-2) 98%, transparent),
  radial-gradient(ellipse 30% 40% at left, var(--color-2) 98%, transparent);
  background-size: 4% 30%;
  background-repeat: repeat;
}

nav {
  text-align: center;
}

.nav-butt {
  border: dotted;
  border-radius: 20px 0 20px 0;
  border-color: var(--text-color);
}

.stripe-wrapper {
  max-width: 50px;
}

.blue-wrapper {
  max-width: 20px;
  position: relative;
  top: -26px;
  right: 15px;
}

.flag-wrapper {
  position: relative;
  bottom: .9em;
  left: 8em;
  width: ;
  margin: 0 auto;
}

.blue-wrapper, .stripe-wrapper {
  margin: auto;
}

.blue , .red,  .white {
  height: 2px;
  margin: 0;
}

.blue {
  background-color: #0A3161;
}

.red {
  background-color: #B31942;
}

.white {
  background-color: #e4e4e1;
}

.pat {
  margin-bottom: 0;
}

.tiny-text {
  font-size: 5px;
}

